.container {
    width: 960px;
    margin: 0 auto;
}


/* 头部 */

.header {
    height: 100px;
    border-bottom: 2px solid #eeeeee;
    background: rgb(242, 242, 242);
}

.head {
    height: 100px;
    overflow: hidden;
}

.head p {
    width: 154px;
    float: left;
    margin: 20px 0 0 0;
}

.head_right {
    height: 25px;
    float: right;
    margin: 20px 0;
}


/* 中间部分 */

.main {
    width: 960px;
    min-height: 700px;
    overflow: hidden;
}


/* 商品 */

.goods {
    height: 170px;
    margin: 10px 0;
}

.goods_top {
    height: 38px;
    background: rgb(228, 225, 225);
    border: 1px solid #eeeeee;
}

.t_left {
    line-height: 38px;
    display: flex;
    float: left;
}

.t_left input {
    margin: 12px 0 0 3px;
}

.t_left p {
    font-size: 14px;
    margin-left: 10px;
}

.t_right {
    line-height: 38px;
    float: right;
}

.t_right span {
    margin: 0 40px;
    font-size: 14px;
}


/* 商品中部 */

.goods_main {
    height: 100px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.m_left {
    float: left;
    width: 420px;
    display: flex;
    margin: 20px;
}

.check01 {
    margin-right: 10px;
    margin-top: 20px;
}

.m_left img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.m_left>div p,
.m_left>div b {
    font-size: 14px;
}

.m_right {
    margin-top: 30px;
    float: right;
    display: flex;
    width: 476px;
}

.m_right>b {
    margin-left: 20px;
}

.num {
    margin-left: 92px;
    width: 70px;
    display: flex;
}

.num b {
    width: 20px;
    height: 20px;
    background: #999999;
    border: 1px solid #eeeeee;
    padding: 0 6px;
    line-height: 18px;
    cursor: pointer;
}

.num i {
    width: 20px;
    height: 20px;
    line-height: 18px;
    background: #999999;
    border: 1px solid #eeeeee;
    padding: 0 4px;
    cursor: pointer;
}

.num em {
    display: block;
    width: 20px;
    text-align: center;
}

.m_right strong {
    margin-left: 62px;
    width: 80px;
    color: rgb(248, 57, 119);
}

.m_right span {
    margin-left: 60px;
    cursor: pointer;
}


/* 结算 */

.myCar {
    height: 40px;
    width: 960px;
    border: 1px solid #eeeeee;
    background: pink;
}

.myCar_left {
    float: left;
    line-height: 40px;
    display: flex;
    margin-left: 5px;
    font-size: 14px;
}

.myCar_left p:nth-child(2) {
    margin-left: 10px;
    cursor: pointer;
}

.myCar_left p:nth-child(3) {
    margin-left: 8px;
    cursor: pointer;
}

.myCar_right {
    float: right;
    line-height: 40px;
    display: flex;
    font-size: 14px;
}

.myCar_right p {
    margin-right: 16px;
}

.myCar_right p span,
.myCar_right p i {
    color: rgb(248, 57, 119);
    font-weight: 900;
}

.myCar_right>span {
    height: 38px;
    width: 100px;
    background: rgb(248, 57, 119);
    text-align: center;
    cursor: pointer;
}


/* 商品底部 */

.goods_foot {
    height: 34px;
    background: rgb(228, 225, 225);
    border: 1px solid #eeeeee;
    padding-right: 10px;
}

.goods_foot p {
    float: right;
    line-height: 34px;
    font-size: 16px;
}

.goods_foot p b,
.goods_foot p span {
    color: rgb(248, 57, 119);
    font-weight: 900;
}


/* 底部 */

.footer {
    overflow: hidden;
    background: rgb(242, 242, 242);
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
}

.foot p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.foot ul {
    display: flex;
    margin: 20px 126px;
}

.foot ul li {
    margin-left: 15px;
}