/* 首页公共 */

.container {
    width: 1190px;
    margin: 0 auto;
}


/* 商品列表页公共 */

.gLsCommon {
    width: 1090px;
    margin: 0 auto;
}

.head-t {
    background: #f2f2f2;
}

.t_top {
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 16px;
    color: #999999;
}

.t_top p:nth-child(1) {
    float: left;
    margin-right: 20px;
}


/* 登录 */

.login {
    margin-right: 15px;
    float: left;
    cursor: pointer;
}


/* 注册 */

.sign {
    float: left;
    cursor: pointer;
}

.login a,
.sign a {
    color: #999999;
}

.login:hover,
.sign:hover {
    color: #ee2466;
}


/* 右侧导航 */

.t_topRight {
    float: right;
    position: relative;
}


/* 正品保证 */

.t_topRight p {
    margin-right: 20px;
}


/* 订单查询、收藏、我的聚美及部分公共样式 */

.t_topRight b,
.t_topRight span,
.t_topRight em,
.t_topRight strong {
    margin-right: 10px;
    cursor: pointer;
}


/* 我的聚美-二级导航 */

.myjumei {
    width: 116px;
    position: absolute;
    top: 28px;
    left: 264px;
    border: 1px solid #eee;
    border-top: none;
    padding: 10px 15px 10px;
    background: rgb(255, 255, 255);
    z-index: 50;
    display: none;
}

.myjumei li {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    cursor: pointer;
}

.myjumei li:hover {
    color: #ee2466;
}

.t_topRight span i {
    font-size: 20px;
}


/* 手机聚美 */

.t_topRight strong {
    color: #ee2466;
    border-left: 1px solid #999;
    border-right: 1px solid #999999;
    padding: 0 10px;
}

.t_topRight strong i {
    font-size: 20px;
}


/* 更多 */

.t_topRight>i {
    cursor: pointer;
}


/* 更多二级导航 */

.more {
    width: 116px;
    position: absolute;
    top: 28px;
    right: 0;
    border: 1px solid #eee;
    border-top: none;
    padding: 10px 15px 10px;
    background: rgb(255, 255, 255);
    z-index: 50;
    display: none;
}

.more li {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    cursor: pointer;
}

.more li:hover {
    color: #ee2466;
}

.more b.moreQR {
    position: absolute;
    top: 46px;
    left: -66px;
    font-size: 60px;
    border: 1px solid #eee;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    display: none;
}


/* 鼠标滑过 */

.t_topRight p:hover,
.t_topRight b:hover,
.t_topRight span:hover,
.t_topRight>i:hover,
.t_topRight em:hover {
    color: #ee2466;
}


/* 以上是顶部注册登录 。。。*/


/* 顶部log 搜索 。。。*/

.head-bot {
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 搜索中间部分 */

.top_search {
    width: 540px;
    height: 66px;
}

.top_search div {
    width: 540px;
    margin-bottom: 8px;
}

.top_search div input {
    width: 432px;
    height: 35px;
    border: 2px solid #ed145b;
    padding-left: 10px;
}

.top_search div span {
    /* display: block; */
    float: right;
    width: 108px;
    height: 35px;
    line-height: 35px;
    font-weight: 800;
    background: #ed145b;
    text-align: center;
    color: #eee;
    cursor: pointer;
}


/* 搜索下面的导航 */

.top_search ul {
    display: flex;
}

.top_search ul li {
    font-size: 12px;
    margin-left: 10px;
    border-left: 1px solid #999999;
    color: #999999;
    padding-left: 10px;
    cursor: pointer;
}

.top_search ul li:nth-child(1) {
    margin: 0;
    border-left: 0;
    padding-left: 0;
}


/* 购物车按钮 */

.head-bot>span {
    border: 1px solid #cccccc;
    width: 140px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    padding: 0 8px;
    cursor: pointer;
    color: #999999;
}

.head-bot>span i {
    float: left;
    color: rgb(223, 14, 49);
    margin-right: 5px;
}


/* 导航部分 */

.navigation {
    background: rgb(20, 20, 20);
    /* overflow: hidden; */
    height: 40px;
    position: relative;
}

.nav {
    line-height: 40px;
    height: 40px;
}

.nav ul {
    display: flex;
    float: left;
}

.nav ul li {
    width: 110px;
    text-align: center;
    color: #eee;
    cursor: pointer;
    font-weight: 900;
}

.nav ul li:hover {
    color: rgb(172, 172, 172);
}

.nav div {
    float: right;
    height: 40px;
    color: #999999;
}

.nav div span {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.nav div b {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.active {
    background: #ed145b;
}


/* 美妆商城二级导航 */


/* nav div.beautyMakeup{
    background: lightblue;
    height: 310px;
    width: 1190px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    z-index: 50;
    padding: 10px;
    display: none;
}
.beautyMakeup_top{
    width: 1170px;
    height: 155px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
} */


/* 主体内容区 */

.content>div {
    display: none;
    background: lightpink;
    min-height: 500px;
}

.content>div.show {
    display: block;
}


/* 首页轮播图 */

.slide_big {
    height: 217px;
    width: 1190px;
    position: relative;
}


/* 上一页 */

.prev {
    width: 20px;
    height: 20px;
    text-align: center;
    background: lightblue;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}


/* 下一页 */

.next {
    width: 20px;
    height: 20px;
    text-align: center;
    background: lightblue;
    line-height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
}

.prev:hover,
.next:hover {
    background: rgba(206, 241, 7, 0.7);
}


/* 图片 */

.slide {
    height: 217px;
    width: 1190px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slideshow {
    width: 9999px;
    height: 217px;
}

.slideshow img {
    width: 1190px;
    float: left;
}


/* 分页器 */

.slide_big ul {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -55px;
}

.slide_big ul li {
    width: 30px;
    height: 5px;
    background: rgba(241, 6, 85, 0.5);
    margin-left: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.list li.num {
    background: rgba(16, 231, 221, 0.6);
}


/* 首页主体内容区 */

.intro {
    margin-bottom: 5px;
}

.intro h2 {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 900;
    background: rgb(26, 76, 101);
    text-align: center;
}

.intro img {
    width: 1190px;
}


/* 底部 */

.foot {
    /* background: lightgreen; */
    height: 500px;
    overflow: hidden;
}

.outline {
    width: 1100px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #999999;
}

.outline li {
    width: 130px;
    text-align: center;
}

.outline li i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    border: 1px solid #ee2466;
    border-radius: 50%;
    color: #ee2466;
    margin-bottom: 15px;
    cursor: pointer;
}

.outline li div span {
    cursor: pointer;
}

.outline li div b {
    font-size: 12px;
    display: block;
    color: rgb(153, 153, 153);
    cursor: pointer;
}

.outline li div b:hover {
    color: rgb(102, 102, 102);
}

.bottom_list {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0;
    overflow: hidden;
}

.bottom_list dt {
    font-weight: bold;
    margin-bottom: 15px;
}

.bottom_list dd {
    font-size: 14px;
    cursor: pointer;
    margin-top: 4px;
}

.bottom_list dd:hover {
    color: #ee2466;
}

.QRcode {
    font-size: 70px;
}

.bb {
    margin-top: 10px;
}

.about {
    height: 36px;
    background: rgb(47, 47, 47);
}

.about ul {
    display: flex;
}

.about ul li {
    margin-left: 20px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.copyright {
    height: 130px;
    background: rgb(66, 66, 66);
    overflow: hidden;
}

.copyright section p {
    font-size: 12px;
    margin: 10px 0;
    color: rgb(204, 204, 204);
}

.copyright section ul {
    display: flex;
    margin-top: 30px;
}

.copyright section ul li {
    margin-right: 15px;
}


/* 商品列表页样式 */

.goodslist {
    background: lightgreen;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.gLs {
    width: 250px;
    height: 420px;
    padding: 15px 20px;
    margin: 10px 11px;
    float: left;
    border: 1px solid #999999;
}

.gLs p:first-child {
    color: #ee2466;
    font-weight: 900;
    margin-bottom: 5px;
}

.gLs p:nth-child(2) {
    margin: 0 5px;
}

.gLs p:nth-child(3) {
    font-size: 14px;
    margin: 10px 0;
    padding: 0 5px;
}

.gLs p:nth-child(4) {
    color: #ee2466;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 15px;
}

.gLs p:last-child span {
    width: 90px;
    height: 34px;
    display: block;
    background: #ee2466;
    text-align: center;
    line-height: 26px;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
}